/* .books-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 8rem;
  }
  .book{
    background-color: rgb(234, 149, 227);
    color:black;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1.25px;
    padding: 1rem;
    margin: 1rem;
  } */